 <%- include('includes/navigation.ejs') %>
 <h1 class="page-title">QUOTE STOCKS</h1>
<table>
  <thead>
    <th>Ticker</th>
    <th>Company</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr>
      <td><%= symbol %></td>
      <td><%= name %></td>
      <td><%= price %></td>
    </td>
    </tr>
  </tbody>
</table>
<%- include('includes/end.ejs') %>
