<%- include('includes/navigation.ejs') %>
<h1 class="page-title">TRANSACTIONS</h1>
<table class="table table-striped table-dark">
  <thead>
    <th scope="col">Date</th>
    <th scope="col">Type</th>
    <th scope="col">Stock</th>
    <th scope="col">Price</th>
    <th scope="col">Shares</th>
    <th scope="col">Total</th>
  </thead>
  <tbody>
    <% for (let transaction of transactions) { %>
    <tr scope="row">
      <td><%= transaction.dataValues.createdAt.toLocaleString('pt-BR') %></td>
      <td><%= transaction.dataValues.type %></td>
      <td><%= transaction.dataValues.stock_symbol %></td>
      <td><%= transaction.dataValues.price %></td>
      <td><%= transaction.dataValues.shares %></td>
      <td><%= transaction.dataValues.total %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include('includes/end.ejs') %>
